/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ol[class],
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
    max-width: 1140px;
    margin: 10px auto;
    padding: 0 15px;
    background-color: #eee;
    font-family: monospace;
}

.header{
    display: flex;
    align-items: center;
    padding: 25px 0;
}
.header .avatar{
    padding-right: 25px;
}
.header .avatar img{
    width: 256px;
    border-radius: 50%;
    border: 10px solid #fff;
}
.header .info .contact-info{
    padding-left: 15px;
    list-style: circle;
}
.main .about-me h3, .main .skills h3{
    font-size: 1.8em;
    padding-top: 15px;
}
.footer{
    padding: 25px 0;
    margin-top: 25px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .rs-logo{
    display: inline-block;
}
.footer .rs-logo img{
    width: 128px;
}
.footer .my-git{
    display: inline-block;
}